archive.zip
LOSSPortable/eLOSSTeam/eLOSSTeam.Droid/bin/
LOSSPortable/eLOSSTeam/eLOSSTeam.Droid/obj/
LOSSPortable/eLOSSTeam/eLOSSTeam/bin/Debug/
LOSSPortable/eLOSSTeam/eLOSSTeam/obj/Debug/
LOSSPortable/eLOSSTeam/eLOSSTeam.iOS/bin/
LOSSPortable/eLOSSTeam/eLOSSTeam.iOS/obj/
LOSSPortable/packages/
LOSS/
textXamarinApp/