archive.zip
LOSSPortable/LOSSPortable/LOSSPortable.Droid/bin/
LOSSPortable/LOSSPortable/LOSSPortable.Droid/obj/
LOSSPortable/LOSSPortable/LOSSPortable/bin/Debug/
LOSSPortable/LOSSPortable/LOSSPortable/obj/Debug/
LOSSPortable/LOSSPortable/LOSSPortable.iOS/bin/
LOSSPortable/LOSSPortable/LOSSPortable.iOS/obj/
LOSS/
textXamarinApp/