archive.zip
LOSSPortable/eLOSSTeam/LOSSPortable.Droid/bin/
LOSSPortable/eLOSSTeam/LOSSPortable.Droid/obj/
LOSSPortable/eLOSSTeam/LOSSPortable/bin/Debug/
LOSSPortable/eLOSSTeam/LOSSPortable/obj/Debug/
LOSSPortable/eLOSSTeam/LOSSPortable.iOS/bin/
LOSSPortable/eLOSSTeam/LOSSPortable.iOS/obj/
LOSS/
textXamarinApp/